<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    
  </head>
  
  <body>
  	<form action="/search" method="post">
  	  <input type="hidden" name="c_offset" value="1"/>
  	  <input type="hidden" name="j_offset" value="1"/>
      <div><input type="text" name="keyword" id="keyword" /></div>
      <div><input type="submit" value="Search"></div>
    </form>
    <br/>
    
    {% if keyword %}
    	results for {{ keyword }}: <br/> 
    
    <table>
    	<tr>
    		<td>
    			<table>
    				<thead>
    					<tr>
    						<th>
    							Jars found: {{ jars_count }}
    						</th>
    					</tr>
    				</thead>
    				<tbody>
    					{% for jar in jars %}
    					<tr>
    						<td>
    							{{ jar.jar_name }} <a href='jar?jar={{ jar.jar_name }}'>more</a>
    						</td>	
    					</tr>
    					{% endfor %}
    				</tbody>
    			</table>
    		</td>
    		<td>
    			<table>
    				<thead>
    					<tr>
    						<th>
    							Classes found: {{ clazzes_count }}
    						</th>
    					</tr>
    				</thead>
    				<tbody>
    					{% for clazz in clazzes %}
    					<tr>
    						<td>
    							{{ clazz.class_name }} <a href='clazz?clazz={{ clazz.class_name }}'>more</a>
    						</td>
    					</tr>
    					{% endfor %}
    				</tbody>
    				{% if c_more %}
    				<tfoot>
    					<tr>
    					<form action="/search" method="post" id="c_form" >
    						<input type="hidden" name="keyword" value="{{ keyword }}"/>
    						<input type="hidden" name="c_offset" value="{{ c_offset|add:"1" }}"/>
    						<input type="hidden" name="j_offset" value="{{ j_offset }}"/>
    						<td><a href="#" onclick="document.getElementById('c_form').submit()">next</a></td>
    					</form>	
    					</tr>
    				</tfoot>
    				{% endif %}
    			</table>
    		</td>
    	</tr>
    </table>
   {% endif %}         
  </body>
</html>

