{% extends "template.html" %}
{% block main_body %}
<div class="grid_2 " >
<div class="grid_6 " id="details">
  	<div class="details_header">{{ jar.jar_name }}.jar</div> 
	  <ul>  
    	{% for art in artifacts %}
    	<li>
    		<span>GroupId:</span>	{{ art.groupId }}
    	</li>
    	<li>				
    		<span>ArtifactId:</span> {{ art.artifactId }}
    	</li>
    	<li>				
    		<span>Version:</span> {{ art.version }}
    	</li>
    	<li>				
    		<span>Maven Model Version:</span> {{ art.modelVersion }}
    	</li>
    	<li>				
    		<span>Jar size:</span> {{ art.size }} bytes
    	</li>
    	<li>				
    		<span>md5 checksum:</span> {{ art.md5 }}
    	</li>
    	<li>				
    		<span>sha1 checksum:</span> {{ art.sha1 }}
    	</li>
    	<li>				
    		<span>Modification date:</span> {{ art.mvnModified }}
    	</li>    	
    	<li>				
    		<span>Download it from:</span>
    		{% for l in art.locations %}
    			<a href='{{ l.url }}'>{{ l.repository|mvnrepo }}</a>&nbsp;
    		{% endfor %}
    	</li>				
    	{% endfor %}
    	</ul>
 </div>   
 {% endblock %}

