{% extends "template.html" %}
{% block main_body %}

  	Jar file: {{ jar.jar_name }}: <br/> 
    
    <table>
    	<thead>
    		<tr>
    			<th>
    				Maven artifacts: 
    			</th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for art in artifacts %}
    		<tr>
    			<td>
    				GroupId
    			</td>
    			<td>
    				{{ art.groupId }}	
    			</td>	
    		</tr>
    		<tr>
    			<td>
    				ArtifactId
    			</td>
    			<td>
    				{{ art.artifactId }}	
    			</td>	
    		</tr>
    		<tr>
    			<td>
    				Version
    			</td>
    			<td>
    				{{ art.version }}	
    			</td>    			
    		</tr>
    		<tr>
    			<td>
    				Link
    			</td>
    			<td>
    				{% for l in art.locations %}
    				<a href='{{ l.url }}'>download</a>&nbsp;
    				{% endfor %}	
    			</td>	
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
  {% endblock %}

