<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/960/reset.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/960/text.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/960/960.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/prettify.css" />		
		<link rel="stylesheet" type="text/css" media="all" href="/css/jquery.autocomplete.css" />
		<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js"></script>-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
		<script type="text/javascript" src="/js/jquery.autocomplete.js"></script>		
		<script type="text/javascript" src="/js/prettify.js"></script>		
		<script type="text/javascript" src="/js/sabandija.js"></script>
		{%block jquery_block%}		
		{% endblock%}
		<title>Sabandija - java classes crawler</title>
	</head>
	<body onload="prettyPrint()">
		<div class="container_12">			
			<div class="grid_12" id="title_div">
				Sabandija				
			</div>
			<!-- advertisement-->
			<div class="grid_12" id="ads">
				<img src="/images/adsense.gif" alt="advertisement"/>
			</div>
			<!-- app div-->
			<div class="grid_9">
				{% block main_body %}
				{% endblock %}
				
			</div>
			
			<div class="grid_12" id="footer_div">
				<div class="copy">&copy; 2008 sabandija.net</div>
			</div>
		</div><!-- container12-->
	</body>
</html>
